# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# ChromaDB
chroma_db/

# DB
*.db

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
".env.production" 

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
